	<div class="container-contact100">
		<div class="wrap-contact100">

			<% if(done) {%>
				<div class="container">
					<div class='row'>
					  <div class="alert-box" style="float: none; margin: 0 auto;">
					  <div class="alert alert-success">
						<div class="alert-icon text-center h2 p-0 mb-1">
							<i class="fa-regular fa-circle-check"></i>
						</div>
						<div class="alert-message text-center">
							your product added <strong>successfully!</strong>
						</div>
					  </div>
					</div>
					</div
				  </div>
			<% } %>


			<form class="contact100-form validate-form" action="/admin/add" method="post" enctype="multipart/form-data">
				<span class="contact100-form-title" style="color: #4270c8;">
					NEW Product
				</span>

				<% if(data[0]?.id) {%> <small class="text-danger"><%= data[0]?.id.msg%></small> <%}%>
				<div class="wrap-input100 validate-input" data-validate="Please enter your name">
					<input class="input100" type="number" name="id" placeholder="id" value="<%= data[1]?.id %>">
					<span class="focus-input100"></span>
				</div>

				<% if(data[0]?.title) {%> <small class="text-danger"><%= data[0]?.title.msg%></small> <%}%>
				<div class="wrap-input100 validate-input" data-validate="Please enter your name">
					<input class="input100" type="text" name="title" placeholder="title" value="<%= data[1]?.title%>">
					<span class="focus-input100"></span>
				</div>

				<% if(data[0]?.price) {%> <small class="text-danger"><%= data[0]?.price.msg%></small> <%}%>
				<div class="wrap-input100 validate-input" data-validate="Please enter your name">
					<input class="input100" type="number" step="0.01" name="price" placeholder="price" value="<%= data[1]?.price%>">
					<span class="focus-input100"></span>
				</div>

				<% if(data[0]?.category) {%> <small class="text-danger"><%= data[0]?.category.msg%></small> <%}%>
				<div class="wrap-input100 validate-input" data-validate = "Please enter your email: e@a.x">
					<input class="input100" type="text" name="category" placeholder="category" value="<%= data[1]?.category%>">
					<span class="focus-input100"></span>
				</div>

				<% if(data[0]?.image) {%> <small class="text-danger"><%= data[0]?.image.msg%></small> <%}%>
				<div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
					<input name="image" type="file" class="form-control rounded-pill"/>
					<span class="focus-input100"></span>
				</div>

				<% if(data[0]?.description) {%> <small class="text-danger"><%= data[0]?.description.msg%></small> <%}%>
				<div class="wrap-input100 validate-input" data-validate = "Please enter your message">
					<textarea class="input100" name="description" placeholder="description"><%= data[1]?.description%></textarea>
					<span class="focus-input100"></span>
				</div>

				
				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" type="submit">
						<span>
							<i class="fa-solid fa-file-circle-plus"></i>
							Add
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div id="dropDownSelect1"></div>