<%- include('components/header.ejs') %>
<%- include('components/nav.ejs') %>

<!-- ----------------------------------------------------------------- -->
<% if(productsOfUser.length === 0) {%>
  <div class="col-6 offset-3 text-center mb-5 p-4">
    <p class="mt-5 text-primary" style="font-size: 80px;"><i class="fa-solid fa-cart-arrow-down"></i></p>
    <p class="h4 text-secondary text-center">No Products Found</p>
    <p class="h6 text-secondary text-center">You have not added any products add first product now</p>
  </div>
<!-- if there are product show them -->
<% } else { %> 
<section class="h-100 gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center my-4">
      <div class="col-md-8">
        <div class="card mb-4">
          <div class="card-header py-3">
            <p class="h5 mb-0 d-inline-block text-primary">Shopping Cart</p>
            <% if (validationErrors) { %><p class="h6 text-danger d-inline-block float-end"><span class="mx-2"><i class="fa-solid fa-bell"></i></span> <%= validationErrors.amount.msg %></p> <% } %>
          </div>

          <div class="card-body">
            <!-- Single item -->
                      <% let itemsCount = 0, totalPrice = 0 %>
                      <% for(let product of productsOfUser) { %>
            <div class="row">
              <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                <!-- Image -->
                <div class="bg-image img-fluid img-thumbnail" data-mdb-ripple-color="light">
                  <img src="<%= product.image %>"
                    class="w-100" alt="Blue Jeans Jacket" />
                  <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                  </a>
                </div>
                <!-- Image -->
              </div>

              <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                <!-- Data -->
                <p><strong><%= product.title %></strong></p>
                <p>Product ID: <%= product.productId %></p>
                <p>time: <%= product.timestamp %></p>

                <form action="" method="post" id="<%= product.id %>">
                  <input type="hidden" name="productId" value="<%= product._id%>">
                  <input type="hidden" name="redirectTo" value="/cart">
                <button class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip" type="submit" formaction="/cart/delete"
                  title="Remove item">
                  <i class="bi bi-trash3-fill"></i>
                </button>
                <button  class="btn btn-warning btn-sm mb-2 text-light" data-mdb-toggle="tooltip" type="submit" formaction="/cart/update"
                  title="update your quantity">
                  <i class="bi bi-arrow-counterclockwise"></i>
                </button>
              </form>

                <!-- Data -->
              </div>

              <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <!-- Quantity -->
                <div class="d-flex mb-4" style="max-width: 300px">
                  <button class="btn p-0 m-2 h-50 rounded-pill"
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="bi bi-dash"></i>
                  </button>

                  <div class="form-outline">
                    
                    <input id="form1" min="1" name="amount" value="<%= product.amount %>" type="number" class="form-control" form="<%= product.id%>"/>
                    <label class="form-label" for="form1">Quantity</label>
                  </div>

                  <button class="btn p-0 m-2 h-50 rounded-pill"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                    <i class="bi bi-plus-lg"></i>
                  </button>
                </div>
              
                <!-- Quantity -->

                <!-- Price -->
                <p class="text-start text-md-center">
                  <strong class="text-primary">$<%= product.price %></strong>
                </p>
                <!-- Price -->
              </div>
            </div>
            <hr class="my-4" />

            <% itemsCount += +(product.amount) %>
            <% totalPrice += +(product.price) %>
            <% } %>

            <!-- Single item -->
          </div>
          
        </div>
        <div class="card mb-4">
          <div class="card-body">
            <p><strong>Expected shipping delivery</strong></p>
            <p class="mb-0"><%= new Date().toDateString() %></p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body">
            <p><strong>We accept</strong></p>
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
              alt="Visa" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
              alt="American Express" />
            <img class="me-2" width="45px"
              src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
              alt="Mastercard" />
            <img class="me-2" width="45px"
              src="https://ps.w.org/wp-ecommerce-paypal/assets/icon-256x256.png?rev=1112332"
              alt="PayPal acceptance mark" />
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header py-3">
            <h5 class="mb-0 text-primary">Summary</h5>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Products Count
                <span><%= itemsCount %></span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                Products Price
                <span><%= (totalPrice * itemsCount).toFixed(2) %></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                Shipping
                <span>Gratis</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span class="text-primary"><strong><%= (totalPrice * itemsCount).toFixed(2) %></strong></span>
              </li>
            </ul>

            <form action="/address" method="post">
              <input type="hidden" name="productAsString" value="<%= productAsString %>">
              <input type="hidden" name="total" value="<%= (totalPrice * itemsCount).toFixed(2) %>">
            <button type="submit" class="btn btn-outline-primary btn-block rounded-pill">
              Go to checkout
            </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%}%>
<%- include('components/footer.section.ejs') %>
<%- include('components/footer.ejs') %>