<%- include('components/header.ejs') %>
<%- include('components/nav.ejs') %>

<% if(orders.length === 0) {%>
  <div class="col-6 offset-3 text-center mb-5 p-4">
    <p class="mt-5 text-primary" style="font-size: 80px;"><i class="fa-solid fa-triangle-exclamation"></i></p>
    <p class="h4 text-secondary text-center">No Orders Found</p>
    <p class="h6 text-secondary text-center">You have not added any orders add first order now</p>
  </div>
<% } else { %>
<% for(let order of orders) {%>
    <section class="h-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-10">
              <div class="card" style="border-radius: 10px;">
                <div class="card-header px-4 py-5">
                  <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #4270c8;"> <%= username %> </span>!</h5>
                </div>
                <div class="card-body p-4">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0" style="color: #4270c8;">Receipt</p>
        
                  </div>
                  <div class="card shadow-0 border mb-4">
                    <!------------------------------------------------------------------------------------------------ -->
                    <div class="card-body">
                            <% let products = JSON.parse(order.productsOfCart) %>
                            <% for(let product of products) {%>
                            <div class="row">
                              <div class="col-md-2">
                                <img src="<%= product.image %>" class="img-fluid" alt="Phone">
                              </div>
                              <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <p class="text-muted mb-0"><%= product.title %></p>
                              </div>
                              <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                                <p class="text-muted mb-0 small"><%= product.description.slice(0,30) %>...</p>
                              </div>
                              <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <p class="text-muted mb-0 small">Qty: <%= product.amount %> </p>
                              </div>
                              <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                <p class="text-muted mb-0 small">$<%= product.price %></p>
                              </div>
                            </div>
                            <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                            <% } %>
                            <div class="row d-flex align-items-center">
                              <div class="col-md-2">
                                <p class="text-muted mb-0 small">Track Order</p>
                              </div>
                              <div class="col-md-10">
                                <div class="progress" style="height: 6px; border-radius: 16px;">
                                  <div
                                    class="progress-bar"
                                    role="progressbar"
                                    style="width: 65%; border-radius: 16px; background-color: #4270c8;"
                                    aria-valuenow="65"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  ></div>
                                </div>
                                <div class="d-flex justify-content-around mb-1">
                                  <p class="text-muted mt-1 mb-0 small ms-xl-5"> <%= order.status %> </p>
                                  <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    
                    <!---------------------------------------------------------------------------------------------------->
                  </div>
                  <div class="card shadow-0 border mb-4">
                    
                  </div>
      
                  <div class="d-flex justify-content-between pt-2">
                    <p class="fw-bold mb-0">Order Details</p>
                    <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> $<%= order.total %></p>
                  </div>
      
                  <div class="d-flex justify-content-between pt-2">
                    <p class="text-muted mb-0">Invoice Number : <%= order._id %> </p>
                    <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> $<%= (order.total * 0.1).toFixed(2) %></p>
                </div>
                <div class="d-flex justify-content-between float-end">
                    <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
                  </div>
                <div class="d-flex justify-content-between">
                  <p class="text-muted mb-0">Invoice Date : <%= order.timestamp %> </p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="text-muted mb-0">Invoice Address : <%= order.address %> </p>
                  </div>
                  
                </div>
                <div class="card-footer border-0 px-4 py-5" style="background-color: #4270c8; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                    <h5 class="d-inline-flex align-items-center justify-content-end text-white text-uppercase mb-0 float-end">Total paid: <span class="h2 mb-0 ms-2">$<%= (order.total - order.total * 0.1).toFixed(2) %></span></h5>
                    <form action="/order/delete" method="post">
                        <input type="hidden" name="orderId" value="<%= order._id %>">
                        <i class="bi bi-trash3 m-0 text-light h4"></i><input class="btn text-light p-2 h4" type="submit" value="Remove">
                        
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<% } %>
<% } %>
<%- include('components/footer.section.ejs') %>
<%- include('components/footer.ejs') %>